#whole-container {
    background-color: #fcfcfc;
    display:grid;
    grid-template-columns:  1fr 2fr 1fr ;
    grid-template-rows: 0.5fr 0.5fr 2fr 1fr;
}

.container {
    display: grid;
    justify-content:center;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.top-container{
justify-self: center;
    grid-column: 3/ 4;
    grid-row: 2/3;
}
h1{
    margin-bottom: 0rem;
}

h3 {
    font-weight: normal;
}
.item {
text-align: center;
}


.extra-margin {
 margin-top: 1rem;
}

.fab{
 padding: 5%;
 font-size: 30px;
 color: gray;
}

.fas {
    font-weight: normal;
 font-size: 20px;
 color: gray;
}

.fas:hover {
    color: black;
}
/*
.fab:hover {
    color: black;
}
*/
.fa-github:hover {
    color:black;
}

.fa-instagram:hover {
    color:rgb(253, 103, 198);
}
.fa-youtube:hover {
    color:rgb(219, 56, 56);
}

a{
    text-decoration: none;
}
hr {
    
    width: 200px;

}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
 
/* Portrait */
 
@media only screen
 
and (min-device-width: 375px)
 
and (max-device-width: 667px)
 
and (-webkit-min-device-pixel-ratio: 2)
 
and (orientation: portrait) {
    #whole-container {
        background-color: #fcfcfc;
        display:grid;
        grid-template-columns:  .5fr 3fr .5fr ;
        grid-template-rows: 0.5fr 0.5fr 2fr 1fr;
    }
    
    .container {
        display: grid;
        justify-content:center;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .top-container{
    justify-self: center;
        grid-column: 3/ 4;
        grid-row: 2/3;
    }
 
}
 
/* Landscape */
 
@media only screen
 
and (min-device-width: 375px)
 
and (max-device-width: 667px)
 
and (-webkit-min-device-pixel-ratio: 2)
 
and (orientation: landscape) {
 
}
 
/* ----------- Google Pixel ----------- */
 
/* Portrait */
 
@media screen
 
and (device-width: 360px)
 
and (device-height: 640px)
 
and (-webkit-device-pixel-ratio: 3)
 
and (orientation: portrait) {
    #whole-container {
        background-color: #fcfcfc;
        display:grid;
        grid-template-columns:  .5fr 3fr .5fr ;
        grid-template-rows: 0.5fr 0.5fr 2fr 1fr;
    }
    
    .container {
        display: grid;
        justify-content:center;
        grid-column: 1 / 5;
        grid-row: 3 / 4;
    }
    .top-container{
    justify-self: center;
        grid-column: 3/ 4;
        grid-row: 2/3;
    }
 
 
}
 
/* Landscape */
 
@media screen
 
and (device-width: 360px)
 
and (device-height: 640px)
 
and (-webkit-device-pixel-ratio: 3)
 
and (orientation: landscape) {
 
}
